body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}

.image1-container {
    background-size: cover;
    margin-bottom: 0px;
    text-align: center;
}


.main_heading {
    color: darkgreen;
    font-size: 80px;
    font-family: "Bree Serif";
    font-style: Italic;
    text-align: center;
}

.first-para {
    padding: 20px;
    font-size: 40px;
    text-align: center;
}


.main-button {
    height: 75px;
    width: 190px;
    border-radius: 40px;
    border-width: 0px;
    color: white;
    background-color: green;
    font-family: "Edwardian Script";
    margin: 10px;
    font-size: 30px;
    text-align: center;

    
}


.generatebutton{
    height: 55px;
    width: 170px;
    border-radius: 30px;
    border-width: 0px;
    color: white;
    background-color: green;
    font-family: "Bree Serif";
    font-size: 20px;
    margin: 10px;
}

.backbutton-1 {
    height: 35px;
    width: 110px;
    border-radius: 40px;
    border-width: 0px;
    color: white;

    background-color: black;
    font-family: "Bree Serif";
    margin: 30px;
}



#recipe-output {
     margin-top: 20px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this based on your layout needs */
}